p{
  background-color: gray;
  border: 1px solid red;
  color: maroon;
  font-family: 'Cascadia Mono';
}

h1,h2{
  font-family: Arial;
  color: grey;
  }

h1{
  border-bottom: 1px solid black;
}

em{
  font-family: 'arial';
  color: yellow;
}
