.test{
  color: yellow;
  }

h1,h2{
  font-weight: 600;
}

h1{
  font-weight: 200;
}

.red-font{
  color: red;
}

.blue-font{
  color: blue;
}

.green-font{
  color: green;
}

.test1{
  color: green;
}

#test2{
  color: brown;
}

p{
  background-color: blue;
}

.iname{
  background-color: green;
}

#cname{
  background-color: yellow;
}

body h1{
  background-color: yellow;
}

p h1{
  background-color: blue;
}

h1{
  background-color: brown;
}

.left {
	margin-right: 10px;
}

.right {
	margin-left: 20px;
}

.ruler {
	display: inline-block;
	width: 28px;
  height: 16px;
  border: 1px black solid;
}

.rights {
	float: right;
}

div.block {
	width: 45vw;
	height: 20vh;
	border: 2px solid black;
}

.top {
	margin-bottom: 10px;
}

.bottom {
	margin-top: 20px;
}

.rulers {
	height: 20px;
}

.waicen{
  width: 400px;
  height: 200px;
  background-color: yellow;
  margin: 30px;
}

.neicen{
  width:200px;
  height: 100px;
  background-color: aquamarine;
  margin: 20px;
}

.waicens{
  width: 400px;
  height: 200px;
  background-color: yellow;
  border: 1px black solid;
  margin: 30px;
}

.float-block{
  float: right;
  width: 400px;
}